<?xml version="1.0" encoding="utf-8"?>
<phpunit 	bootstrap="./vendor/autoload.php"
			color="true"
			convertErrorsToExceptions="true"
			convertNoticesToExceptions="true"
			convertWarningsToExceptions="true"
			stopOnFailures="false"
			syntaxCheck="false"
>
	<testsuites>
		<testsuite>
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>